.container {
    width: 100%;
    height: auto;
}
.big-div-without{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'play', sans-serif;        
}
.big-div-with{

}
.cart-body {
    display: flex; 
    width: 100%;  
    
}
.product-stuff {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-right-style: solid;
    border-right-width: 5px;
    border-right-color: #222;
    margin-top: 70px;
}
.none {
    display: none;
}

/*Product display*/
.products-list {
    width: 100%;
     
}
.product-section {
    display: flex; 
    width: 100%;
    justify-content: space-around;
    
}

.product-info-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}
.product-title {
    color: rgb(146, 208, 80);
    font-size: 35px;
    font-family: 'play', sans-serif;
    height: 50px;
    margin-bottom: 30px;
}
.product-price {
    color: #222;
    font-size: 35px;
    font-family: 'play', sans-serif;
    height: 50px;
}
.product-section-sub {
    display: flex;
    margin: 0px 0px 10px 0;
}
.qty {
    margin-right: 10px;
    font-family: 'play', sans-serif;        
    
}
.remove-butt {
    border: none;
    background-color: rgb(146, 208, 80);
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.img {
    width: 50%;
    height: 35vh;
    margin: 30px;
    background-color: white;
    
}
.h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*cart info (right side */
.cart-div {
    height: 100vh;
    width: 30%;
    font-size: 25px;
    font-family: 'play', sans-serif;        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tax {
    margin: 30px;
}
.total {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-color: #222;
    border-width: 3px;
    border-style: solid;
    height: 100px;
}
.cont-shop-butt {
    border: none;
    background-color: #222;
    color: white;
    margin: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.checkout-butt {
    border: none;
    background-color: rgb(146, 208, 80);
    color: white;
    width: 80%;
    height: 75px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

/* Shipping info */
.ship-main {
    background-color: black;
    display: none;
    width: 0%;
    height: 0vh;
    transition: .6s;
}

.zero {
    display: flex;
    width: 50%;
    height: 50vh;
}

.modal {
    transition: .6s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgb(146, 208, 80);
    font-family: 'play', sans-serif;   
    font-size: 20px; 
}
.blur {
    opacity: 0.2;
    background: #222;
}
.focus {
    opacity: 1;
    height: 40vh;
    width: 40%;
}
.xButt {
    border: none;
    background-color: #222;
    color: rgb(146, 208, 80);
    position: absolute;
    top:0;
    right: 0;
    font-size: 20px;
    cursor: pointer;

}
.stripe {
  
}
.addDiv {
    display: flex;
    align-items: center;
    
}
.inputs{
    margin: 10px;
    background: rgba(255, 255, 255, 0.041);
    border: none;
    font-size: 20px;
}
.shipInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.required {
    font-size: 10px;
}
.checkout-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.checkbutt{
    cursor: pointer;
    border: none;
    background: rgb(146, 208, 80);
    height: 50px;
    width: 200px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.hr {
    width: 90%;
}
@media (max-width: 1150px) {
    .img {
        height: 30vh;
    }
}
@media (max-width: 950px) {
    .img {
        height: 25vh;
    }
    .product-title {
        font-size: 25px;
    }

}