.nav-item { /*nav-item*/
    height: 80px;
    display: flex;
    align-items: center;
}
.nav-title { /*nav-title*/
    font-size: 20px;
    width: 100%;
}

.sub-menu { /*sub-menu*/
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%; 
    overflow: hidden; 
    z-index: 5;  
}
.backdrop {
    background: rgba(34, 34, 34, 0.85);
    display: flex;
    justify-content: space-around;
    height: 0px;
    transition: .4s;
    transition-delay: .6s;
    padding-left: 80px;
    padding-right: 80px;
}

.nav-item:hover .backdrop {
    transition-delay: 0s;
    height: 64px;
    
}

.nav-item:hover .sub-menu {
    padding-bottom: 20px;
}

.nav-item:hover .sub-menu-imgs > .backdrop {
    height: 295px
}

.sub-menu-item {
    position: relative;
    color: white;
    transition: .6s;
    opacity: 0;
}

.sub-menu-item-img{
    height: 200px;
    width: 400px;
}

.sub-menu-imgs .sub-menu-item {
    height: 200px;
    margin: 45px 0;
}


.nav-item:hover .sub-menu-item {
    transition-delay: .4s;
    opacity: 1;
    top: 0;
}
.nav-item:hover .sub-menu-item:nth-child(2) {
    transition-delay: .4s;
  }
  .nav-item:hover .sub-menu-item:nth-child(3) {
    transition-delay: .5s;
  
  }
  .nav-item:hover .sub-menu-item:nth-child(4) {
    transition-delay: .6s;
  
  }
  .nav-item .sub-menu-item:nth-child(1) {
    transition-delay: .4s;
  }
  
  .nav-item .sub-menu-item:nth-child(2) {
    transition-delay: .3s;
  }
  .nav-item .sub-menu-item:nth-child(3) {
    transition-delay: .2s;
  }
  .nav-item .sub-menu-item:nth-child(4) {
    transition-delay: .1s;
  }
  .sub-menu-item-link {
      width: 400px;
  }

  .sub-menu-item-title {
      position: relative;
      top: -125px;
      color: white;
      background: #222222;
      opacity: .5;
      transition: .6s;
  }

  .nav-item .sub-menu-item-title {
    top: -110px;
  }

  .nav-item .sub-menu-item:nth-child(1) .sub-menu-item-title{
    transition-delay: .4s;
  }
  
  .nav-item .sub-menu-item:nth-child(2) .sub-menu-item-title{
    transition-delay: .3s;
  }
  .nav-item .sub-menu-item:nth-child(3) .sub-menu-item-title{
    transition-delay: .2s;
  }
  .nav-item .sub-menu-item:nth-child(4) .sub-menu-item-title{
    transition-delay: .1s;
  }
  .home-txt {
      font-size: 20px;
      display: none;
  }
  .cont a {
      text-decoration: none;
      color: white;
  }
  
  .search {
      cursor: pointer;
  }
  .search2 {
      cursor: pointer;
  }

  .navOn {
    display: inline;
  }
  .navOff {
      display: none;
  }
  .searchField {
    background-color: #222;
    color: rgb(146, 208, 80);
    border: none;
    font-size: 25px;
    width: 75%;
    margin-left: 10px;
  }
  .searchField:focus {
      outline: none;
  }
  .searchOff {
      display: none;
  }

  @media (max-width: 1650px){
    .nav-item:hover .sub-menu-imgs > .backdrop {
        height: 250px
    }
    .sub-menu-item-img{
        height: 150px;
        width: 300px;
      }
      .nav-item .sub-menu-item-title {
        top: -90px;
      }
      .sub-menu-imgs .sub-menu-item {
        height: 150px;
        margin: 45px 0;
    }
     
  }
  @media (max-width: 1400px){
      .backdrop {
        padding-left: 20px;
        padding-right: 20px;
      }
  }
  @media (max-width: 1250px){
    .nav-item:hover .sub-menu-imgs > .backdrop {
        height: 200px
    }
    .sub-menu-item-img{
        height: 125px;
        width: 250px;
      }
      .nav-item .sub-menu-item-title {
        top: -77px;
      }
      .sub-menu-imgs .sub-menu-item {
        margin: 35px 0;
    }
     
  }
  @media (max-width: 1050px){
    .nav-item:hover .sub-menu-imgs > .backdrop {
        height: 150px
    }
    .sub-menu-item-img{
        height: 100px;
        width: 200px;
      }
      .nav-item .sub-menu-item-title {
        top: -77px;
      }
      .sub-menu-imgs .sub-menu-item {
        height: 200px;
        margin: 25px 0;
    }
     
  }

  .hamNav {
      position: absolute;
      top: 70px;
      left: -35%;
      width: 150px;
      height: auto;
      background-color: #222;
      transition: .6s;
      color: white;
      padding: 10px;
      font-family: 'play', sans-serif; 
      
      
  }
  @media (max-width : 490px){
    .hamNav {
        left: -40%;
    }
}
  @media (max-width : 425px){
    .hamNav {
        left: -45%;
    }
}
@media (max-width : 380px){
    .hamNav {
        left: -50%;
    }
}
@media (max-width : 340px){
    .hamNav {
        left: -55%;
    }
}
  .hamOn {
      left: 0px;
      opacity: 1;
      z-index: 10;
  }
  .hamOption {
      margin: 10px;
  }
  .hamList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .hamOption-menu {
      margin: 10px;
      left: 150px;
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 0;
      display: none;
      font-size: 15px;
      color: white;
  }
  .hamOption:hover .hamOption-menu {
      height: auto;
      display: flex;
  }
  .hamOption-menu-sub {
      margin: 10px;
      color: white;
  }
@media (max-width: 640px){
    .main-pic {
    }
    .App-logo1 {
        display: none;
    }
    .home-txt {
        display: inline;
    }
}
@media (max-width: 460px){
    .navUl {
        width: 100%;
    }
    .App-logo2 {
        display: inline;
        width: 80%;
    }
    .main-pic {
        flex-direction: column;
        justify-content: space-around;
    }
}
@media (max-width: 310px){
    .hamNav {
        left: -60%;
    }
}
 
 