

.mainDiv {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

/* All the filter things */
.filterRow {
    width: 25%;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
    align-items: center;
}

.filterBox{
    width: 94%;
    height: 60%;
    background-color: white;
    /* box-shadow: 0px 14px 20px 0px gray; */
    /* border-radius: 15px; */
    /* position: relative; */
    top: 15%;
    flex-basis: 23%;
    border-style: solid;
}
.filterBox h4{
    margin: 10px;
} 
.filterList {
    list-style-type: none;
}
hr {
    width: 80%;
}
/* All the product row stuff */
.product-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 200px;
}
.bike-pic {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.productBox{
    width: 30%;
    height: 42%;
    background-color: rgba(245, 245, 245, 0.925);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    border-style: solid;
   
}
.picDiv {
    background: url('http://cf-prd.cannondale.com/~/media/Images/Dorel/Products/Bikes/C23308M/Variants/C23308M70LG/images/imabtgf9u5ij2ctrpyi1.ashx?vs=1&d=20170623T185124Z');
    background-repeat: no-repeat;
    background-size: contain;
    
    /* border-radius: 15px; */
    cursor: pointer;
}

