

.mainDiv {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    height: 100%;
}

/* All the filter things */
.filterRow {
    width: 25%;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.filterBox{
    width: 94%;
    height: 60%;
    background-color: white;
    top: 15%;
    flex-basis: 23%;
    border-style: solid;
}
.filterBox h4{
    margin: 10px;
} 
.filterList {
    list-style-type: none;
}
hr {
    width: 80%;
}
/* All the product row stuff */
.product-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}

.productBox{
    width: 30%;
    height: 42%;
    background-color: rgba(245, 245, 245, 0.925);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    
}
.bike-pic {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin-bottom: 5px;
    
}

.price {
    color: rgb(146, 208, 80);
    margin-top: 5px;
    
}

