.flex{
    display: flex;
    justify-content: space-around;
}
.flex2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title-of-bike {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(146, 208, 80);
    font-size: 40px;
    font-family: 'play', sans-serif;
    height: 50px;
    margin-top: 10px;
}
.product-image {
    background-color: white;
    width: 50%;
    height: 50vh;
    /* margin: 25px 50px; */
    margin-top: 150px;
    padding: 10px;
}
.info-check {
    width: 40%;    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-top: 50px;
}

.product-info{
    background-color: rgba(245, 245, 245, 0.829);
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    padding: 10px;
}

.padding {
    padding: 10px;
}
.adding{
    display: flex;
    justify-content: space-around;
}

.add-to-cart {
    border: none;
    background-color: rgb(146, 208, 80);
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}
.checkout-div {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
}

.checkout {
    border: none;
    background-color: rgb(146, 208, 80);
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    /* margin-right: 18px; */
}
@media (max-height: 900px){
    .product-image {
        height: 40vh;
    }
    .product-info {
        font-size: 15px;
        margin-right: 10px;
    }
}
@media (max-width: 1030px){
    .info-check {
        font-size: 15px;
        margin-right: 20px;
    }
}
@media (max-width: 950px){

    .product-image {
        height: 30vh;
    }
}
@media (max-width: 860px){
    .product-info {
        font-size: 10px;
    }
    .adding {
        flex-direction: column;
        margin-left: 10px;
    }
    .add-to-cart {
        margin-top: 10px;
    }
}
@media (max-width: 600px){
    .flex {
        flex-direction: column;
        align-items: center;
    }
    .info-check {
        width: 90%;
        height: auto;
    }
    .product-image {
        width: 90%;
        height: 20%;
    }
}
@media (max-width: 530px){
    .add-to-cart {
        width: 150px;
        height: 50px;
    }
    .title-of-bike {
        font-size: 30px;
    }
}
