.bike-click {
    /* background: #222;  */
     /* opacity: .7; */
}
.front-wheel {
    position: absolute;
    bottom: 6px;
    left: 481px;
    transition: .6s;
}
.rear-wheel {
    position: absolute;
    bottom: 6px;
    left: 23px;
    transition: .6s;

}
.cranks {
    position: absolute;
    bottom: 112px;
    left: 320px;
    z-index: 2;
    transition: .6s;
}
.seat {
    position: absolute;
    left: 208px;
    bottom: 312px;
    transition: .6s;
    
} 
.frame {
    position: absolute;
    left: 290px;
    bottom: 111px;
    transition: .6s;
    
}
.headset {
    position: absolute;
    left: 492px;
    bottom: 370px;
    transition: .6s;
    
}

.scalpel {
    width: 800px;
    transition: .6s;
    display: flex;
    align-content: center;
    transition: .6s;
}
.scalpel-click {
    opacity: 1;
    width: 100%;
    height: 100%;
}
.front-wheel-click {
    opacity: 1;    
    position: absolute;
    left: 70%;
    bottom: 10px;
    z-index: 2;
    width: 405px;
    
}

.rear-wheel-click {
    right: 0px;
    bottom: 10px;
    z-index: 2;
    width: 405px;
}

.crank-click {
    left: 30%;
    bottom: 150px;
}

.headset-click {
    left: 88%;
    top: 200px;
}

.seat-click {
    left: 0;
    top: 200px;
}

.frame-click {
    left: 40%;
    top: 50px;
}
.clickMe {
    position: absolute;
    left: 0;
    bottom: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    color: white;
    background: #222222;
    opacity: .7;
    width: 800px;
    font-size: 30px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
}
.clickMe-click {
    margin-top: 20%;
    width: 10%;
    opacity: 1;
}
.infoBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    background-color: rgb(146, 208, 80);
    width: auto;
    border-radius: 15px;
    padding: 10px;
    
}
.seat-info {
    top: 100px;
    left: 9%;
}
.rearWheel-info {
    top: 43%;
    left: 13%;
}
.crank-info {
    bottom: 50px;
    left: 28%;
}
.frontWheel-info {
    right: 27%;
    bottom: 5%;
}
.headset-info {
    width: 250px;
    right: 12%;
    top: 10%;
}
.frame-info {
    left: 38%;
    top: 45%;
}
h1 {
    margin-top: 10px;
}
.size2 {
    width: 75%;
}
@media (max-width : 1530px){
    .headset-info {
        width: 250px;
        right: 2%;
        top: 20%;
    }
    .headset-click {
        left: 85%;
        top: 100px;
    }
    .frame-info {
        left: 50%;
        top: 30%;
        width: 300px;
    }
    .frontWheel-info {
        right: 27%;
        bottom:20%;
        width: 350px;
    }
}
@media (max-width : 1315px){
    .seat-info {
        width: 300px;
    }
    .clickMe-click {
        margin-top: 400px;
    }
    .frame-info {
        left: 48%;
    }
    .frame-click {
        left: 37%;
    }
}
@media (max-width : 1250px){
    h1 {
        font-size: 10px;
    }
    h2 {
        font-size: 10px;
    }
    .frame-info {
        width: 200px;
    }
    .headset-info{
        width: 200px;
    }
    .frontWheel-info {
        right: 33%;
        width: 150px;
    }
    .seat-info {
        width: 200px;
    }
    .crank-click {
        left: 37%;
    }
    .crank-info {
        left: 35%;
    }
    .rearWheel-info {
        top: 48%;
    }
    .clickMe-click {
        font-size: 20px;
    }
}

@media (max-width : 900px){
    .scalpel {
        display: none;

    }
    .main-pic {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .homeText {
        background: none;
        background-size: cover;
        margin: 0px;
    }
}
@media (max-height: 850px){
    .rearWheel-info {
        top: 35%;
    }
}
@media (max-height: 750px){
    .rearWheel-info {
        top: 30%;
    }
    .clickMe-click {
        margin-top: 250px;
    }
}
@media (max-height : 680px){
    h1 {
        font-size: 10px;
    }
    h2 {
        font-size: 10px;
    }
    .frame-info {
        top: 30%;
        left: 45%;
    }
    .frame-click {
        left: 30%
    }
    .crank-click {
        left: 44%;
    }
    .crank-info {
        left: 43%;
    }
    .rearWheel-info {
        top:70%;
        left: 22%;
    }
    .seat-click {
        top: 100px;
    }
}
@media (max-height : 550px){
    .scalpel {
        display: none;

    }
    .main-pic {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .homeText {
        background: none;
        background-size: cover;
        margin: 0px;
    }
}