@import url('https://fonts.googleapis.com/css?family=Play');
*{
  font-family: 'Play',sans-serif
}
.background {
  background-color: #222;
}
.App {
  text-align: center;
  font-family: 'play', sans-serif;
  
}
.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.App-logo {
  border-bottom-right-radius: 15px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.281);
  background-size: cover;
  background-color: white;
}
.buttDiv2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  display: none;
  margin-left: 20px;
  cursor: pointer;
  
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: rgb(146, 208, 80);
  width: 70%;
}

.main-pic {
  width: 100%;
  height: 93vh;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;  
  background-image: url('./images/backgroundPic.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'play', sans-serif;
}

.navUl {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 15%;
  justify-content: space-around;
  list-style-type: none;
  font-family: 'play', sans-serif;
  font-size: 10px;
  margin-right: 20px;
}

.homeText {
  width: 700px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  color: white;
  padding: 7px;
  text-align: center;
  background: rgba(34, 34, 34, 0.7);
  margin-right: 20px;
  margin-left: 20px;
}
.homeText h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
.noText {
  width: 0;
  height: 0;
  display: none;  
}

.titleOfPage {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(146, 208, 80);
  font-size: 40px;
  font-family: 'play', sans-serif;
  height: 100px;
  
}

.tree-pic {
  font-family: 'play', sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  background-image: url('./images/treeline.png');
  background-repeat: no-repeat;
  background-color: #171207;
  /* position: fixed; */
}
.bgColor {
  width: 100%;
  background-color: #222;
  /* height: 200vh; */
}

nav a {
  color: rgb(146, 208, 80);  
  text-decoration: none;
}

ul a {
  color: white;;
  text-decoration: none;
}

@media (max-width: 900px){
  .buttDiv2 {
    display: flex;
    width: 10%;
  }
  nav {
    display: none;
  }
  .App-header {
    justify-content: space-between;
  }
  .App-logo {
    border-bottom-left-radius: 15px;
  }
  .navUl{
    width: 30%;
  }
}
.acct {
  opacity: 0;
  font-family: 'play', sans-serif;  
  position: absolute;
  right: 3%;
  top: 70px;
  height: 0;
  width: 0;
  background: rgba(34, 34, 34, 0.85);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  transition: .6s;
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}
.logButt{
  border: none;
  background: rgb(146, 208, 80);
  color: white;
  width: 80%;
  height: 3vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}
.accountText {
  cursor: pointer;
}
.dispBox {
  opacity: 1;
  height: 25vh;
  width: 150px;
 
}
.hamOption {

}
.hamOption-sub {
  
}

.opp {
  opacity: .5;
}