@import url('https://fonts.googleapis.com/css?family=Play');
*{
  font-family: 'Play',sans-serif
}

.App {
  text-align: center;
  font-family: 'play', sans-serif;
  
}
.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.App-logo {
  padding-top: 20px;
  height: 10vh;
  border-bottom-right-radius: 15px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.281);
}
.buttDiv2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  display: none;
  left: 20px;
  
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  color: rgb(146, 208, 80);
  width: 70%;
}

.main_pic {
  width: 100%;
  height: 93vh;
  object-fit: cover;
  display: flex;
  align-items: center;
  background-image: url('https://cdn.shopify.com/s/files/1/1493/0974/articles/C18_TriggerLifestyle_115_1024x1024.jpg?v=1506806055');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'play', sans-serif;
  
}
.right_pic {
  font-family: 'play', sans-serif;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: flex;
  background-image: url('https://github.com/Alan-Miller/parallax-css/blob/master/img/treeline-midd.png?raw=true');
  background-size: stretch;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
.navUl {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 15%;
  justify-content: space-around;
  list-style-type: none;
  font-family: 'play', sans-serif;
  font-size: 10px;
  margin-right: 20px;
}

.home_text {
  width: 700px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  color: white;
  margin-left: 10%;
  height: 30%;
  text-align: center;
}

.titleOfPage {
  display: flex;
  color: rgb(146, 208, 80);
  font-size: 40px;
  margin-left: 25px;
}

nav a {
  color: rgb(146, 208, 80);  
  text-decoration: none;
}

ul a {
  color: white;;
  text-decoration: none;
}

@media (max-width: 1020px){
  .buttDiv2 {
    display: flex;
    width: 10%;
  }
  nav {
    display: none;
  }
  .App-header {
    justify-content: space-between;
  }
  .App-logo {
    border-bottom-left-radius: 15px;
  }
  .navUl{
    width: 30%;
  }
}